.card.mt-3
  %h5.card-header.d-flex.justify-content-between.align-items-center
    Tag
    .row
      - if @tag.id.present?
        .col.p-0
          = button_to 'Delete', tag_path(@tag), class: 'btn btn-danger', method: :delete
      .col
        = button_to 'Cancel', tags_path, class: 'btn btn-secondary', method: :get

  .card-body
    = simple_form_for @tag do |f|
      = f.input :name
      = f.submit 'Save', class: 'btn btn-primary mt-2'
