.card.mt-3
  %h5.card-header
    What are we cooking today?

  .card-body
    = simple_form_for :filter, url: randomizer_path do |f|
      = f.input :tag_ids, collection: Tag.all, label: 'Tags', input_html: {class: 'js-states', multiple: true}
      = f.submit 'Suprise me!', class: 'btn btn-primary mt-2'

- if @selected_food
  .card.mt-3
    %h5.card-header
      Today you are cooking:
    .card-body
      %h5.card-title.d-flex.justify-content-between.align-items-center
        = @selected_food.name
      - @selected_food.tags.each do |tag|
        %span.badge.badge-primary
          = tag.name



